<div class="container-fluid col-12 padronFactura">
  <h1 class="letraBlanca mt-5">En el municipio <strong>{{municipio}}</strong> se valuaron las siguientes cuentas:</h1>
    <table class="table align-middle table-bordered contenido text-center mt-3" style="border: #5CE1E6">
        <thead>
            <tr>
                <th class="letraBlanca" style="font-size: 18px;">NO CONTROL</th>
                <th class="letraBlanca" style="font-size: 18px;">MUNICIPIO</th>
                <th class="letraBlanca" style="font-size: 18px;">NO CUENTA</th>
                <th class="letraBlanca" style="font-size: 18px;">TIPO PREDIO</th>
                <th class="letraBlanca" style="font-size: 18px;">SUPERFICIE TERRENO</th>
                <th class="letraBlanca" style="font-size: 18px;">VALOR TERRENO</th>
                <th class="letraBlanca" style="font-size: 18px;">SUPERFICIE CONSTRUCCION</th>
                <th class="letraBlanca" style="font-size: 18px;">VALOR CONSTRUCCION</th>
                <th class="letraBlanca" style="font-size: 18px;">SUPERFICIE OBRA COMP</th>
                <th class="letraBlanca" style="font-size: 18px;">VALOR OBRA COMP</th>
                <th class="letraBlanca" style="font-size: 18px;">BASE GRAVABLE</th>
                <th class="letraBlanca" style="font-size: 18px;">IMPUESTO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cuenta of cuentas | slice: (paginaActual-1) * elementosPorPagina : paginaActual * elementosPorPagina">
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.noControl}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.NoMpio}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.NoCuenta}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.tipoCuenta}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.superficieTerreno}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.valorTerreno}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.superficieConstruccion}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.valorConstruccion}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.superficieObra}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.valorObra}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.baseGravableCalculada}}</td> <!--Verificar que sea el campo correcto, porque hay dos basesGravables-->
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.impuestoCalculado}}</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Paginación">
        <!--<ul class="pagination justify-content-center">-->
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="paginaActual === 1">
            <a class="page-link contenido letraVerde" (click)="primeraPagina()">Primera</a>
          </li>
          <li class="page-item" [class.disabled]="paginaActual === 1">
            <a class="page-link contenido letraVerde" (click)="anteriorPagina()">Anterior</a>
          </li>
          <li class="page-item" *ngFor="let pagina of paginas" [class.active]="pagina === paginaActual">
            <a class="page-link contenido letraVerde" (click)="paginaActual = pagina">{{ pagina }}</a>
          </li>
          <li class="page-item">
            <a class="page-link contenido letraVerde" (click)="siguientePagina()">Siguiente</a>
          </li>
          <li class="page-item" *ngIf="paginaActual !== calcularNumeroTotalPaginas()">
            <a class="page-link contenido letraVerde" (click)="ultimaPagina()">Última</a>
          </li>
          <button type="submit" class="btnMarino mb-3" (click)="terminaPadron()">Aceptar</button>
          <button *ngIf="tipo == 'cuentasFueraRango'" type="submit" class="btnNaranja mb-3"data-bs-toggle="modal" data-bs-target="#modalExportar" >Exportar</button>  
        </ul>
    </nav>      
</div>

<!-- Modal Exportar Cuentas Fuera de Rango-->
<div class="modal fade" id="modalExportar" tabindex="-1" aria-labelledby="modalExportar" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content exportar">
      <div class="modal-header">
        <h2 class="letraMarino" id="modalExportar"><b>Descargar Cuentas Fuera de Rango</b></h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!--data-bs-dismiss="modal" cierra el modal-->
      </div>
      <div class="modal-body">
          <h1 class="letraMarino" style="size: 20px;">
            Se iniciará la descarga de un <b>archivo excel</b> con las cuentas que se encuentran <b>fuera de rango</b>. ¿Desea comenzar la descarga?
          </h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btnMarino btnMarinoModal" style="color:#5CE1E6" (click)="exportarCuentasRevision()">Descargar</button>
        <button type="submit" class="btnMarino btnMarinoModal" style="color:#C9E265" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>