.padronFactura{
    background-image: url("../../../assets/panelAzul.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenido {
    background: #1F2348;
}

.btnMarino{
    background: #1F2348;
    font-size: 22px;
    color: #C9E265;
    font-family: 'Jomolhari';
    border: solid #1F2348;
    word-wrap: break-word;
    width: 120px;
    height: 35px;
    margin-left: 5%;
}

.btnMarino:hover{
    cursor: pointer;
    color: #1F2348;
    background: #C9E265;
    font-weight: bold;
    border: solid #C9E265;
}
.page-link:hover {
    font-weight: bold;
    color: #FE6B4B;;
}

.btnNaranja{
    background: #FE6B4B;
    font-size: 22px;
    color: #ffffff;
    font-family: 'Jomolhari';
    border: solid #FE6B4B;
    word-wrap: break-word;
    width: 110px;
    height: 35px;
    margin-left: 5%;
}

.btnNaranja:hover{
    cursor: pointer;
    color: #FE6B4B;
    background: #F9EDD5;
    font-weight: bold;
    border: solid #F9EDD5;
}

.exportar{
    background: #F9EDD5;
}

.btnMarinoModal:hover{
    cursor: pointer;
    color: #FFFFFF !important;
    background: #03989e;
    font-weight: bold;
    border: solid #03989e;
  }