<div class="container-fluid mt-5 col-11">
    <table class="table align-middle table-bordered contenido text-center">
      <thead>
          <tr>
              <th class="letraBlanca" style="font-size: 18px;">NO CONTROL</th>
              <th class="letraBlanca" style="font-size: 18px;">MUNICIPIO</th>
              <th class="letraBlanca" style="font-size: 18px;">NO CUENTA</th>
              <th class="letraBlanca" style="font-size: 18px;">TIPO PREDIO</th>
              <th class="letraBlanca" style="font-size: 18px;">SUPERFICIE TERRENO</th>
              <th class="letraBlanca" style="font-size: 18px;">VALOR TERRENO</th>
              <th class="letraBlanca" style="font-size: 18px;">SUPERFICIE CONSTRUCCION</th>
              <th class="letraBlanca" style="font-size: 18px;">VALOR CONSTRUCCION</th>
              <th class="letraBlanca" style="font-size: 18px;">SUPERFICIE OBRA COMP</th>
              <th class="letraBlanca" style="font-size: 18px;">VALOR OBRA COMP</th>
              <th class="letraBlanca" style="font-size: 18px;">BASE GRAVABLE</th>
              <th class="letraBlanca" style="font-size: 18px;">IMPUESTO</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th class="letraAmarilla" style="font-size: 18px;">RUSTICO</th>
              <th class="letraAmarilla" style="font-size: 18px;">4348</th>
              <th class="letraAmarilla" style="font-size: 18px;">$2079271.07</th>
              <th class="letraAmarilla" style="font-size: 18px;">$2215787.86</th>
              <th class="letraAmarilla" style="font-size: 18px;">$136516.79</th>
              <th class="letraAmarilla" style="font-size: 18px;">7%</th>
              <th class="letraAmarilla" style="font-size: 18px;">RUSTICO</th>
              <th class="letraAmarilla" style="font-size: 18px;">RUSTICO</th>
              <th class="letraAmarilla" style="font-size: 18px;">RUSTICO</th>
              <th class="letraAmarilla" style="font-size: 18px;">RUSTICO</th>
              <th class="letraAmarilla" style="font-size: 18px;">RUSTICO</th>
              <th class="letraAmarilla" style="font-size: 18px;">RUSTICO</th>
          </tr>
          <tr>
            <th class="letraTurquesa" style="font-size: 18px;">SUBURBANO</th>
            <th class="letraTurquesa" style="font-size: 18px;">44</th>
            <th class="letraTurquesa" style="font-size: 18px;">$122312.71</th>
            <th class="letraTurquesa" style="font-size: 18px;">$130842.27</th>
            <th class="letraTurquesa" style="font-size: 18px;">$8529.56</th>
            <th class="letraTurquesa" style="font-size: 18px;">7%</th>
          </tr>
          <tr>
            <th class="letraTurquesa" style="font-size: 18px;">URBANO</th>
            <th class="letraTurquesa" style="font-size: 18px;">11029</th>
            <th class="letraTurquesa" style="font-size: 18px;">$3273225.10</th>
            <th class="letraTurquesa" style="font-size: 18px;">$130842.27</th>
            <th class="letraTurquesa" style="font-size: 18px;">$225588.63</th>
            <th class="letraTurquesa" style="font-size: 18px;">7%</th>
          </tr>
      </tbody>
    </table>

    <nav aria-label="ResultadosValuacion">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a class="page-link contenido letraVerde" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link contenido letraVerde" href="#">1</a></li>
            <li class="page-item"><a class="page-link contenido letraVerde" href="#">2</a></li>
            <li class="page-item"><a class="page-link contenido letraVerde" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link contenido letraVerde" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
    <div>
        <button type="submit" class="btnVerde" style="float: right;" (click)="btnAceptar()">Aceptar</button>
    </div>
  </div> 
