<!--
    <nav aria-label="ResultadosValuacion">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a class="page-link contenido letraVerde" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link contenido letraVerde" href="#">1</a></li>
            <li class="page-item"><a class="page-link contenido letraVerde" href="#">2</a></li>
            <li class="page-item"><a class="page-link contenido letraVerde" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link contenido letraVerde" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
    <div>
        <button type="submit" class="btnVerde" style="float: right;" (click)="btnAceptar()">Aceptar</button>
    </div>
  </div>
-->

<div class="container-fluid mt-5 col-11">
    <table class="table align-middle table-bordered contenido text-center mt-5" style="border: #5CE1E6">
        <thead>
            <tr>
                <th class="letraBlanca" style="font-size: 18px;">NO CONTROL</th>
                <th class="letraBlanca" style="font-size: 18px;">MUNICIPIO</th>
                <th class="letraBlanca" style="font-size: 18px;">NO CUENTA</th>
                <th class="letraBlanca" style="font-size: 18px;">TIPO PREDIO</th>
                <th class="letraBlanca" style="font-size: 18px;">SUPERFICIE TERRENO</th>
                <th class="letraBlanca" style="font-size: 18px;">VALOR TERRENO</th>
                <th class="letraBlanca" style="font-size: 18px;">SUPERFICIE CONSTRUCCION</th>
                <th class="letraBlanca" style="font-size: 18px;">VALOR CONSTRUCCION</th>
                <th class="letraBlanca" style="font-size: 18px;">SUPERFICIE OBRA COMP</th>
                <th class="letraBlanca" style="font-size: 18px;">VALOR OBRA COMP</th>
                <th class="letraBlanca" style="font-size: 18px;">BASE GRAVABLE</th>
                <th class="letraBlanca" style="font-size: 18px;">IMPUESTO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cuenta of cuentas">
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.noControl}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.NoMpio}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.NoCuenta}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.tipoCuenta}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.superficieTerreno}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.valorTerreno}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.superficieConstruccion}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.valorConstruccion}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.superficieObra}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.valorObra}}</td>
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.baseGravableCalculada}}</td> <!--Verificar que sea el campo correcto, porque hay dos basesGravables-->
                <td class="letraAmarilla" style="font-size: 18px;">{{cuenta.impuestoCalculado}}</td>
            </tr>
        </tbody>
    </table>
</div>