.contenido {
    background: #1F2348;
}

.btnMarino{
    background: #1F2348;
    font-size: 22px;
    color: #C9E265;
    font-family: 'Jomolhari';
    border: solid #1F2348;
    word-wrap: break-word;
    width: 100px;
    height: 40px;
}

.btnMarino:hover{
    cursor: pointer;
    color: #1F2348;
    background: #C9E265;
    font-weight: bold;
    border: solid #C9E265;
}
.page-link:hover {
    font-weight: bold;
    color: #FE6B4B;;
}