<!-- Componente para tabla de tasas e intereses-->
<div class="container-fluid col-10">
    <h1 class="letraVerde mt-5">{{municipio}}</h1>
    <form [formGroup]="tasasIncrementosForm" (ngSubmit)="verificarDatos()">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="letraBlanca text-end" style="font-size: 18px; padding:0px;">Cuota Mínima: </p>
                    </div>
                    <div class="col">
                        <input class="frmRegistro" formControlName="cuotaMinima" type="number" required />
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="letraAmarilla text-end" style="font-size: 18px;">Status: </p>
            </div>
            <div class="col">
                <p class="letraAmarilla text-start" style="font-size: 18px;">{{statusMpio}} </p>
            </div>
        </div>
        <div class="row">
            <p class="letraBlanca" style="font-size: 18px;">Rango permitido para incremento en el impuesto predial</p>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="letraBlanca text-end" style="font-size: 18px;">Mínimo: </p>
                    </div>
                    <div class="col">
                        <input class="frmRegistro" type="number" formControlName="inicial" required />
                    </div>
                    <div class="col">
                        <p class="letraBlanca text-start" style="font-size: 18px;">% </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="letraBlanca text-end" style="font-size: 18px;">Máximo: </p>
                    </div>
                    <div class="col">
                        <input class="frmRegistro" type="number" formControlName="final" required />
                    </div>
                    <div class="col">
                        <p class="letraBlanca text-start" style="font-size: 18px;">% </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <table class="table align-middle table-bordered contenidoMpio text-center">
                <thead>
                    <tr>
                        <th colspan="12" class="letraNaranja" style="font-size: 18px;">TASAS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2" class="letraTurquesa" style="font-size: 18px;">Urbano Construcción</th>
                        <th colspan="2" class="letraTurquesa" style="font-size: 18px;">Baldío</th>
                        <th colspan="2" class="letraTurquesa" style="font-size: 18px;">Rústco</th>
                        <th colspan="2" class="letraTurquesa" style="font-size: 18px;">Suburbano</th>
                        <th colspan="2" class="letraTurquesa" style="font-size: 18px;">Industrial</th>
                        <th colspan="2" class="letraTurquesa" style="font-size: 18px;">Cantera</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 18px;">Actual</th>
                        <th class="letraBlanca" style="font-size: 18px;">Propuesto</th>
                        <th class="letraBlanca" style="font-size: 18px;">Actual</th>
                        <th class="letraBlanca" style="font-size: 18px;">Propuesto</th>
                        <th class="letraBlanca" style="font-size: 18px;">Actual</th>
                        <th class="letraBlanca" style="font-size: 18px;">Propuesto</th>
                        <th class="letraBlanca" style="font-size: 18px;">Actual</th>
                        <th class="letraBlanca" style="font-size: 18px;">Propuesto</th>
                        <th class="letraBlanca" style="font-size: 18px;">Actual</th>
                        <th class="letraBlanca" style="font-size: 18px;">Propuesto</th>
                        <th class="letraBlanca" style="font-size: 18px;">Actual</th>
                        <th class="letraBlanca" style="font-size: 18px;">Propuesto</th>
                    </tr>
                    <tr>
                        <th class="letraAmarilla" style="font-size: 18px;">{{urbanoT | number:'1.9-9'}}</th>
                        <th style="font-size: 18px;"><input type="number" style="width:80px;" formControlName="urbanoCons"/></th>
                        <th class="letraAmarilla" style="font-size: 18px;">{{baldioT | number:'1.9-9'}}</th>
                        <th style="font-size: 18px;"><input type="number" style="width:80px;" formControlName="urbanoBaldio"/></th>
                        <th class="letraAmarilla" style="font-size: 18px;">{{rusticoT | number:'1.9-9'}}</th>
                        <th style="font-size: 18px;"><input type="number" style="width:80px;" formControlName="rustico"/></th>
                        <th class="letraAmarilla" style="font-size: 18px;">{{suburbanoT | number:'1.9-9'}}</th>
                        <th style="font-size: 18px;"><input type="number" style="width:80px;" formControlName="suburbano"/></th>
                        <th class="letraAmarilla" style="font-size: 18px;">{{industrialT | number:'1.9-9'}}</th>
                        <th style="font-size: 18px;"><input type="number" style="width:80px;" formControlName="industrial"/></th>
                        <th class="letraAmarilla" style="font-size: 18px;">{{canteraT | number:'1.9-9'}}</th>
                        <th style="font-size: 18px;"><input type="number" style="width:80px;" formControlName="cantera"/></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center mt-3">
            <table class="table align-middle table-bordered contenidoMpio text-center">
                <thead>
                    <tr>
                        <th colspan="6" class="letraNaranja" style="font-size: 18px;">INCREMENTOS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2" class="letraTurquesa" style="font-size: 18px;">Urbano</th>
                        <th colspan="2" class="letraTurquesa" style="font-size: 18px;">Rústco</th>
                        <th colspan="2" class="letraTurquesa" style="font-size: 18px;">Construcciones</th>
                    </tr>
                    <tr>
                        <th class="letraBlanca" style="font-size: 18px;">Actual</th>
                        <th class="letraBlanca" style="font-size: 18px;">Propuesto</th>
                        <th class="letraBlanca" style="font-size: 18px;">Actual</th>
                        <th class="letraBlanca" style="font-size: 18px;">Propuesto</th>
                        <th class="letraBlanca" style="font-size: 18px;">Actual</th>
                        <th class="letraBlanca" style="font-size: 18px;">Propuesto</th>
                    </tr>
                    <tr>
                        <th class="letraAmarilla" style="font-size: 18px;">{{urbanoI}}</th>
                        <th style="font-size: 18px;"><input type="number" style="width:80px;" formControlName="incrementoUrbano"/></th>
                        <th class="letraAmarilla" style="font-size: 18px;">{{rusticoI}}</th>
                        <th style="font-size: 18px;"><input type="number" style="width:80px;" formControlName="incrementoRustico"/></th>
                        <th class="letraAmarilla" style="font-size: 18px;">{{construccionesI}}</th>
                        <th style="font-size: 18px;"><input type="number" style="width:80px;" formControlName="incrementoConstrucciones"/></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center mt-3">
            <button type="submit" class="col-3 btnTurquesa" data-bs-toggle="modal" data-bs-target="#modalEstadisticas">Verificar</button>
        </div>
    </form>
</div>

<!-- Modal Estadisticas -->
<div class="modal fade" id="modalEstadisticas" tabindex="-1" aria-labelledby="modalEstadisticas" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content estadisticas">
        <div class="modal-header">
          <h2 class="letraMarino" id="modalEstadisticasLabel">Se obtuvieron los siguientes resultados:</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!--data-bs-dismiss="modal" cierra el modal-->
        </div>
        <div class="modal-body">
          <table class="table align-middle table-bordered contenidoMpio text-center" style="border: #5CE1E6">
            <thead>
                <tr>
                    <th class="letraAmarilla" style="font-size: 18px;">TIPO PREDIO</th>
                    <th class="letraAmarilla" style="font-size: 18px;">TOTAL CUENTAS</th>
                    <th class="letraAmarilla" style="font-size: 18px;">AÑO ANTERIOR</th>
                    <th class="letraAmarilla" style="font-size: 18px;">AÑO ACTUAL</th>
                    <th class="letraAmarilla" style="font-size: 18px;">DIFERENCIA</th>
                    <th class="letraAmarilla" style="font-size: 18px;">PORCENTAJE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="letraBlanca" style="font-size: 18px;">RUSTICO</th>
                    <th class="letraBlanca" style="font-size: 18px;">{{totalCuentasRus}}</th>
                    <th class="letraBlanca" style="font-size: 18px;">{{anioAnteriorRus}}</th>
                    <th class="letraBlanca" style="font-size: 18px;">{{anioActualRus}}</th>
                    <th class="letraBlanca" style="font-size: 18px;">{{diferenciaRus | number:'1.9-9'}}</th>
                    <th class="letraBlanca" style="font-size: 18px;">{{porcentajeRus | number:'1.9-9'}}</th>
                </tr>
                <tr>
                  <th class="letraBlanca" style="font-size: 18px;">SUBURBANO</th>
                  <th class="letraBlanca" style="font-size: 18px;">{{totalCuentasSub}}</th>
                  <th class="letraBlanca" style="font-size: 18px;">{{anioAnteriorSub}}</th>
                  <th class="letraBlanca" style="font-size: 18px;">{{anioActualSub}}</th>
                  <th class="letraBlanca" style="font-size: 18px;">{{diferenciaSub | number:'1.9-9'}}</th>
                  <th class="letraBlanca" style="font-size: 18px;">{{porcentajeSub | number:'1.9-9'}}</th>
                </tr>
                <tr>
                  <th class="letraBlanca" style="font-size: 18px;">URBANO</th>
                  <th class="letraBlanca" style="font-size: 18px;">{{totalCuentasUrb}}</th>
                  <th class="letraBlanca" style="font-size: 18px;">{{anioAnteriorUrb}}</th>
                  <th class="letraBlanca" style="font-size: 18px;">{{anioActualUrb}}</th>
                  <th class="letraBlanca" style="font-size: 18px;">{{diferenciaUrb | number:'1.9-9'}}</th>
                  <th class="letraBlanca" style="font-size: 18px;">{{porcentajeUrb | number:'1.9-9'}}</th>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btnMarino" style="color:#5CE1E6">Revaluar</button>
          <button type="submit" class="btnMarino" style="color:#C9E265" data-bs-toggle="modal" data-bs-target="#modalGuardar">Guardar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Guardar-->

<div class="modal fade" id="modalGuardar" tabindex="-1" aria-labelledby="modalGuardar" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content estadisticas">
        <div class="modal-header">
          <h2 class="letraMarino" id="modalEstadisticasLabel">Guardar</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!--data-bs-dismiss="modal" cierra el modal-->
        </div>
        <div class="modal-body">
            <h1 class="letraMarino" style="size: 20px;">Al seleccionar <b>Guardar</b> está indicando que los valores asignados son correctos y con ello se podrá generar el padrón factura. ¿Desea continuar?</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btnMarino" style="color:#5CE1E6" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btnMarino" style="color:#C9E265">Continuar</button>
        </div>
      </div>
    </div>
  </div>