.datosMpio {
  height: 760px;
  border-radius: 0px;
  background-image: url("../../../assets/panelAzul.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.desplazar {
  overflow-y: scroll;
  height: 760px;
}

.btnMpio {
  background: #C9E265;
  font-size: 18px;
  color: #1F2348;
  font-family: 'Jomolhari';
  border: solid #C9E265;
  word-wrap: break-word;
}

.btnMpio:hover{
  cursor: pointer;
  color: #FFFFFF;
  background: #593677;
  font-weight: bold;
  border: solid #593677;
}

.btnNaranja {
  background: #FE6B4B;
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Jomolhari';
  border: solid #FE6B4B;
}

.btnNaranja:hover{
  background: #F9EDD5;
  font-weight: bold;
  font-size: 20px;
  color: #FE6B4B;
  font-family: 'Jomolhari';
  border: solid #F9EDD5;  
}

.exportar{
  background: #F9EDD5;
}

.btnMarino{
  background: #1F2348;
  font-size: 22px;
  color: #C9E265;
  font-family: 'Jomolhari';
  border: solid #1F2348;
  word-wrap: break-word;
  height: 40px;
}

.btnMarino:hover{
  cursor: pointer;
  color: #FFFFFF !important;
  background: #03989e;
  font-weight: bold;
  border: solid #03989e;
}