.estadisticas{
    background: #F9EDD5;
}

.contenidoMpio {
    background: #1F2348;
}

.btnMarino{
    background: #1F2348;
    font-size: 22px;
    width: 220px;
    height: 40px;
    font-family: 'Jomolhari';
    border: solid #1F2348;
    margin: 15px;
  }

  .btnMarino:hover{
    cursor: pointer;
    color: #FFFFFF !important;
    background: #03989e;
    font-weight: bold;
    border: solid #03989e;
  }
